@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Clash Grotesk', sans-serif;;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
}

.navbar .image{
    width: 65px;
    height: 30px;
}

.navbar .logo{
    display: flex;
    align-items: center;
}

.navbar .logo .title{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Delicious Handrawn', cursive;
    transform: translateY(60%);
    margin-left: 7px;
}

.image img{
    width: 100%;
}

.navbar .links{
    display: flex;
    align-items: center;
    transform: translateY(30%);
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #090909;
}

.navbar ul li a:hover{
    color: #13c21a;
}

.navbar ul li a button{
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #13c21a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navbar ul li a button:hover{
    transform: scale(1.1);
}

.theme{
    display: flex;
    align-items: center;
    gap: 15px;
}

.day-theme {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2e6ea;
    cursor: pointer;
}

.night-theme{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2e6ea;
    cursor: pointer;
}


.theme .day-theme i{
    font-size: 30px;
}

.theme .night-theme i{
    font-size: 25px;
}

.pancarte{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-color: #0d0d0e;
    padding: 30px;
    border-radius: 10px;

}

.words{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.words .text{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.words .buttons{
    display: flex;
    gap: 20px;
}

.words .buttons button{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

.words .buttons .ig{
    background: linear-gradient(to right, #de1f47, #de1f75, #de1f9c, #de1fbf, #dd1fde, #be1fde);
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.words .buttons .whatsapp{
    background: linear-gradient(to right, #1fde46, #1fde2a, #33de1f);
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.words .buttons .call{
    background: linear-gradient(to right, #1f4ade, #1f3fde, #1f37de);
    border: none;
    outline: none;
    color: white;
    border-radius: 15px;
}

